.header {
  position: fixed;
  top: 28px;
  left: 0;
  width: 100%;
  z-index: 800;
  height: 40px;
  color: var(--color-black);
}

.headerHome {
  color: var(--color-white);
}

.headerInner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
}
.tabletAuthNavigation {
  display: none;
}
.logo {
  display: flex;
  align-items: flex-end;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;

  color: inherit;
}
.icon_logo {
  width: 17px;
  height: 17px;
}
.icon_menu {
  width: 32px;
  height: 32px;
}
.logo svg {
  color: var(--color-yellow);
}

.headerHome .logo svg {
  color: var(--color-white);
}
.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  background: transparent;
}
.menuButton svg {
  stroke: var(--color-black);
}
.headerHome .menuButton svg {
  stroke: var(--color-white);
}
.menuButtonOpen {
  position: fixed;
  top: 28px;
  right: 20px;
  z-index: 20;
}

.menuButtonOpen svg {
  stroke: var(--color-white);
}
.menuButtonHomeOpen {
  position: fixed;
  top: 28px;
  right: 20px;
  z-index: 20;
}
.headerHome .menuButtonHomeOpen svg {
  stroke: var(--color-black);
}
.desktopNav {
  display: none;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 42%;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
  padding: 0 20px 40px 20px;
}
.mobileNavHome {
  background-color: var(--color-white);
  color: var(--color-black);
}

.mobileNavInner {
  background-color: var(--color-yellow);
  color: var(--color-white);
}
.mobileNavigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 235px 0 280px 0;
}
.navLinkMob {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  border-radius: 30px;
  padding: 15px 0;
  text-align: center;
  width: 120px;
  transition:
    border-color 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease;
}
.mobileNavHome .navLinkMob {
  border: 1px solid rgba(38, 38, 38, 0.4);
  color: var(--color-black);
}

.mobileNavHome .navLinkMob:hover,
.mobileNavHome .navLinkMob:focus {
  border-color: var(--color-yellow);
}

.mobileNavInner .navLinkMob {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--color-white);
}

.mobileNavInner .navLinkMob:hover,
.mobileNavInner .navLinkMob:focus {
  color: var(--color-yellow);
  background-color: var(--color-milk);
}
@media screen and (min-width: 768px) {
  .header {
    height: 50px;
    top: 32px;
  }
  .mobileNav {
    left: 51%;
  }
  .logo {
    font-weight: 800;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
  }
  .navLinkMob {
    font-size: 16px;
    line-height: 1.25;
  }
  .icon_logo {
    width: 23px;
    height: 23px;
  }
  .icon_menu {
    width: 36px;
    height: 36px;
  }
  .menuButtonOpen {
    top: 36px;
    right: 30px;
  }
  .headerInner {
    height: 50px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tabletAuthNavigation {
    display: block;
    margin-left: auto;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .mobileNav,
  .menuButton {
    display: none;
  }
  .headerInner {
    padding: 0 64px;
    justify-content: space-between;
  }
  .desktopNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
  }
  .navigation {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navLink {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    border-radius: 30px;
    padding: 15px 0;
    text-align: center;
    width: 120px;
    border: 1px solid rgba(38, 38, 38, 0.15);
    transition: border-color 0.3s ease;
  }
  .navLink:hover,
  .navLink:focus {
    border-color: var(--color-yellow);
  }
  .headerHome .navLink {
    border-color: var(--color-milk);
  }

  .headerHome .navLink:hover,
  .headerHome .navLink:focus {
    color: var(--color-yellow);
    background-color: var(--color-milk);
  }
}
