.authNavigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
}
.navLogin {
  display: block;
  padding: 12px 0;
  border-radius: 30px;
  text-align: center;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  width: 120px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}
.navLogin:hover {
  color: var(--color-yellow);
  background-color: var(--color-milk);
}
.navLoginHome {
  color: var(--color-white);
  background-color: var(--color-yellow);
}

.navLoginHome:hover {
  color: var(--color-white);
  background-color: var(--color-dark-yellow);
}
.navReg {
  display: block;
  padding: 12px 0;
  border-radius: 30px;
  text-align: center;
  color: var(--color-yellow);
  background-color: var(--color-milk);
  width: 120px;
  transition: background-color 0.3s ease;
}
.navReg:hover {
  background-color: var(--color-dark-milk);
}
@media screen and (min-width: 768px) {
  .authNavigation {
    flex-direction: row;
    font-size: 16px;
  }
  .navReg {
    width: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tabletHeaderAuth .navLogin {
    color: var(--color-white);
    background-color: var(--color-yellow);
    border: none;
  }

  .tabletHeaderAuth .navLogin:hover {
    color: var(--color-white);
    background-color: var(--color-dark-yellow);
  }

  .tabletHeaderAuth .navLoginHome {
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
  }

  .tabletHeaderAuth .navLoginHome:hover {
    color: var(--color-yellow);
    background-color: var(--color-milk);
  }
}
@media screen and (min-width: 1280px) {
  .authNavigationDesc {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
  }
  .navLogin {
    padding: 15px 0;
    border-radius: 30px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-yellow);
    width: 120px;
  }
  .navLogin:hover {
    color: var(--color-white);
    background-color: var(--color-dark-yellow);
  }

  .navLoginHome:hover {
    color: var(--color-yellow);
    background-color: var(--color-milk);
  }
  .navReg {
    padding: 15px 0;
    border-radius: 30px;
    text-align: center;
    color: var(--color-yellow);
    background-color: var(--color-milk);
    width: 150px;
  }
}
