.page {
  padding: 80px 0 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.imageWrapper {
  width: 100%;
}
.authImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
}

.formWrapper {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 27px 20px;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
}
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  margin-top: 12px;
  margin-bottom: 20px;
}

.fieldsWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  position: relative;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.8);
}

.input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}
.input:hover,
.input:focus {
  border: 1px solid var(--color-yellow);
}
.inputError {
  border-color: var(--color-red);
}

.inputValid {
  border-color: var(--color-green);
}
.input.inputError {
  border-color: var(--color-red);
}

.input.inputValid {
  border-color: var(--color-green);
}
.fieldIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}
.error {
  margin-top: -6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: var(--color-red);
}
.passwordToggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  background: transparent;
}

.passwordToggle svg {
  stroke: var(--color-yellow);
  fill: none;
  width: 22px;
  height: 22px;
}
.passwordValidationIcon {
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}
.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 30px;
  padding: 12px 0;
  width: 100%;
  background-color: var(--color-yellow);
  margin-top: 24px;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: var(--color-dark-yellow);
}
.switchText {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}
.switchLink {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-yellow);
}
@media screen and (min-width: 768px) {
  .page {
    padding: 114px 0 32px;
  }
  .wrapper {
    gap: 16px;
  }
  .authImage {
    border-radius: 60px;
  }

  .formWrapper {
    border-radius: 60px;
    padding: 27px 140px;
  }
  .title {
    font-size: 54px;
  }
  .description {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .fieldsWrap {
    gap: 16px;
  }
  .input {
    padding: 16px;
    font-size: 16px;
  }
  .passwordToggle {
    right: 16px;
  }
  .fieldIcon {
    right: 16px;
  }
  .passwordValidationIcon {
    right: 50px;
  }
  .button {
    padding: 16px 0;
    margin-bottom: 16px;
  }
  .switchText {
    font-size: 14px;
    line-height: 1.42857;
  }
  .switchLink {
    font-size: 14px;
    line-height: 1.42857;
  }
  .error {
    margin-top: -12px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    flex-direction: row;
    gap: 32px;
  }
  .imageWrapper,
  .formWrapper {
    flex: 1;
    min-width: 0;
  }
  .imageWrapper {
    display: flex;
  }
  .authImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .formWrapper {
    padding: 68px 84px;
  }

  .button {
    padding: 18px 0;
    margin-top: 32px;
  }
}
